body {
  background-color: #EEEEEE;
}

ul {
  width: 90%;
  margin:0 auto;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

p {
  font-size: 2rem;
}

przycisk {
  background-color: lightgray;
  padding: 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

przycisk.niebieski {
  background-color: blue;
}

przycisk.zielony {
  background-color: green;
}

przycisk.pomarancz {
  background-color: orange;
}

li {
  float: left;
}

li a {
  color: #666;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*po najechaniu kolor zmienia się na czarny*/
li a:hover { 
  background-color: #666; 
}

.aktywny {
	background-color: #04AA6D;
	color: white;
}

.kolumna {
	float: left;
	width: 33.33%;
	text-align: center;
}

.wiersz:after {
	content: "";
	display: table;
	clear: both;
}

#content {
	width: 80%;
	margin:0 auto;
}

#inside {
  width: 90%;
  background-color: white;
  margin:0 auto;
}

#logo {
  width: 90%;
  margin:0 auto;
}

kontakt {
	font-size: 28px;
	font-weight: bold;
}

.content1 {
  display: flex;
}

.content1 img {
  margin-right: 10px;
  display: block;
}

.content1 a {
  color: black;
  text-decoration: none;
}

.content1 h3,
.content1 p {margin: 0;}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
}

.slajdy {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numertekst {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.tekst-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

div.elem {
  margin: 20px 0;
}

label {
  display: block;
  padding-bottom: 10px;
  font-size: 1.25em;
}

textarea {
  height: 250px;
}

button {
  height: 50px;
  background: orange;
  border: none;
  color: white;
  font-size: 1.25em;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}

test22 {
  width: 500px;
}
